body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}
 
/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  padding-top: 80px;
} */


/* Showcase */
#showcase{
  min-height:600px;
  background: url("<?php echo base_url() . "public/images/images-1.jpeg"?>" ) no-repeat;
  text-align:center;
  color:#363;
  padding-left: 100px;
  padding-right: 100px;
  border-left:#ffffff 80px solid;
  border-right:#ffffff 80px solid;
  border-bottom:#ffffff 10px solid;
}
 
#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}
 
#showcase p{
  font-size:20px;
}
 

/* Boxes */
#boxes{
  margin-top:20px;
}
 
#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}
 
#boxes .box img{
  width:90px;
}

h3{
    font-size: 18px;        
}
        
p{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 1rem;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}   

  #showcase h1{
    margin-top:40px;
  }
}
