#footer {
	background-color: #222;
}

#footer a {
	color: #999;
}



.btn-success {
        background-color: #444 !important;
        border: solid 1px #999 !important;
}

.btn-success:hover {
        background-color: #999 !important;
}

.navbar {
        background-color: #222 !important;
}

.nav-link {
        color: #999 !important;
}

.searchTheme {
        color: #FFF !important;
        background-color: #444 !important;
}

.searchTheme:hover {
        background-color: #999 !important;
}
