#footer {
        background-color: #336;
}

#footer a {
        color: #99C;
}



.btn-success {
        background-color: #4466CF !important;
        border: solid 1px #88AAFF !important;
}

.btn-success:hover {
        background-color: #6688EF !important;
}

.container {
        margin-top: 75px;
}

.navbar {
        background-color: #336 !important;
}

.nav-link {
        color: #99C !important;
}

.searchTheme {
        color: #FFF !important;
        background-color: #4466CF !important;
}

.searchTheme:hover {
        background-color: #6688EF !important;
}
