#footer {
        background-color: #FC3;
}

#footer a {
        color: #963;
}



.btn-success {
        background-color: #C93 !important;
        border: solid 1px #FC3 !important;
}

.btn-success:hover {
        background-color: #EB4 !important;
}

.container {
	margin-top:75px;
	background-color: #333; 
}

.lightText {
        color: #EEE;
}

.lightLine {
        background-color: #666;
}

.navbar {
        background-color: #FC3 !important;
}

.nav-link {
        color: #963 !important;
}

.searchTheme {
        color: #FFF !important;
        background-color: #C93 !important;
}

.searchTheme:hover {
        background-color: #EB4 !important;
}

.xtraMenuBar {
        color: #963 !important;
}
